# System files
.DS_Store
.cursor/

# Packer files
*.pkr.hcl.json
packer_cache/
*.log

# Local variables
local.pkrvars.hcl
azure.auto.pkrvars.hcl

# Packer variable files
*.auto.pkrvars.hcl
build.pkrvars.hcl 